<h1>Farm Search Results</h1>
<p><%= link_to "Back", edit_user_path(current_user) %></p>

<% if @farms==[] %>
  <p>No farms matched your search criteria.</p>
<% else %>
<ul>
  <% @farms.each do |f| %>
  <li><%= link_to "#{f.name}", farm_path(f) %></li>
  <% end %>
</ul>
<% end %>
