<!DOCTYPE html>
<html>
<body>
  <h1>Welcome to FoodLove!</h1>
  <p>You have successfully created an account as a <%= @user.type %> </p>
  <p>To login, follow this link: <%= link_to "FoodLove Login", login_path %>.</p>
</body>
</html>
