
<% if flash[:notice] %>
  <div class="col-xs-12"><p><%= flash[:notice] %></p></div>
<% end %>

<div class=" background-table col-xs-12">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">FoodLove: Empowering the local food community, one byte at a time.</p>
  <% if !logged_in? %><p class="lead"><%= link_to "Log In", login_path %></p><% end %>
  <p class="lead"><%= link_to "Learn More", about_path %></p>
</div>

<div class="row"></div>
