<h1>About Us</h1>

<div class="row background-hoop">
<div class="col-xs-12">
<h2>The Problem</h2>
</div>
<div class="col-xs-8 col-xs-offset-2">
<p>Local farms provide sustainably produced, high-quality food that restaurants and grocery stores love! However, they lack the infrastructure necessary to distribute their goods effectively to a wider audience. As a result, local farms can’t compete with industrial agriculture.</p>
</div>
</div>

<div class="row"><br></div>

<div class="row background-stand">
<div class="col-xs-8 col-xs-offset-2">
<h2>And that's where we come in!</h2>
<p>We’ve created an easy-to-use online platform where farmers can sell directly to their wholesale consumers. With FoodLove, farms and businesses can make new connections, have smoother transactions with their current partners, and ultimately, grow their operations with their new, expanded networks.</p>
</div>
</div>

<div class="row"><br></div>

<div class="row background-gate">
<div class="col-xs-8 col-xs-offset-2">
<h2>We're here to connect and empower the local food community!</h2>
<p>We seek to support local farmers and create a sustainable, community-driven food culture. Our goal is to facilitate the discovery, connection, and engagement with the community behind our food while inspiring others to do the same.</p>
</div>
</div>

<div class="row"><br></div>

<div class="row background-bluebs">
<div class="col-xs-8 col-xs-offset-2">
<h2>How it Works</h2>
<p>Sign up for one of three types of accounts: Farmer, Buyer, Distributor. A farm will upload their available products via Excel spreadsheet and select a few to feature for inspiration to their buyers. A buyer will then be able to search FoodLove for a certain product they are looking for or a farm within a certain radius and order the available products. The order is sent as an email and dashboard notification to all parties involved. The preferred distributor receives the order and delivers the farm-fresh products – simple!</p>
</div>
</div>

<div class="row"><br></div>

<div class="row">
<div class="col-xs-12">
<h2>The Co-Founders</h2>
</div>
</div>

<div class="row">

<div class="col-xs-2">
<%= image_tag("mia", class: "img-responsive") %>
</div>
<div class="col-xs-10">
<h3>Mia Gancayco</h3>
<p>As a food lover and food activist, Mia could not be happier doing anything else than be at FoodLove! Outside of her work, Mia is a rising junior at Williams College and plans to major in English and Computer Science. Also, she’s the current president of her school’s baking club. (She makes a mean chocolate croissant. And local ingredients only of course!)</p>
</div>

</div>


<div class="row">

<div class="col-xs-10">
<h3>Isabella Huang</h3>
<p>Isabella can’t stop eating, because – well, who doesn’t love food? So, she wants to make food a healthier relationship for all parties involved – from voracious consumers like herself to the land that provides. While Isabella is not tinkering with the technical aspects of FoodLove, she loves to spend her time outdoors hiking and climbing. Isabella is a Mathematics major at Williams College, class of 2018. </p>
</div>

<div class="col-xs-2">
<%= image_tag("isabella", class: "img-responsive") %>
</div>

</div>
