<h1>Add A Farm</h1>
<ul>
  <% @farms.each do |f| %>
    <% if !@buyer.farms.exists?(f.id) %>
      <li><%= f.name %> <%= link_to "Add", new_farm_buyer_path(@buyer,f), method: :post %></li>
    <% end %>
  <% end %>
</ul>
